*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  padding: 0px;
  margin:0px;
  position: relative;
}
 
 .sidebar{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    top: 80px;
    width: 270px;
    height: 100%;
    background: #ffffff;
    position: fixed;
  }
    
  .sidebar ul li{
    padding: 12px;
    width: 240px;
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 10px solid rgba(255,255,255,0.05);
    list-style-type: none;
  }    
  
  .sidebar ul li a{
    color: #dbdfe3;
    display: block;
    text-decoration: none;
  }
  
  .sidebar ul li:hover{
    background-color: #f0f9fe;
  }
  .sidebar ul li:hover a{
    color: #0091ea;
    width: 240px;
  }

  .new_post {
    font-weight: bold;
    position: absolute; 
    left: 50px;
    display: inline-block;
    top : 460px;
    padding: 15px 30px;
    background-color: #3498db; /* Blue color */
    color: #fff; /* Text color */
    border-radius: 25px; /* Round rectangle shape */
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    border: none;
}

.right{
  position: fixed;
  font-weight: bold;
  font-size: 20px;
  right: 400px;
  width: 1px;
  height: 640px;
  background-color: rgba(0,0,0,0.1);
}
 .container{
    position: fixed;
    right:0;
    top:0;
    width: 80%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
   
 }
 .search-bar{
  position: fixed;
  top:10px;
  right:0;
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 20px;
  padding: 10px 20px;  
  
 }

 .search-bar input{
  background: #f0f9fe;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 15px;
  font-size: 20px;
  color: #0091ea;
 }

 .reads{
  position: absolute;
  top:100px;
  left: 20px;    
 }

 .box{
    width: 360px;
    right: 0px;
    height: 450px;
    background-color: #fff;
    color: #0091ea;
    border:1px solid rgba(0,0,0,0.2);
   }

.Middle{
  position: absolute;
  left: 270px;
  width: 1px;
  height: 640px;
  background-color: rgba(0,0,0,0.05);
}

.pagename{
  border-bottom: 1px solid rgba(0,0,0,0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  margin: 0;
}

.login-container {
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.login-form {
background-color: #ffffff;
padding: 20px;
border-radius: 5px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
text-align: center;
}


.login-form h1 {
font-size: 24px;
margin-bottom: 20px;
}


.login-form input {
width: 100%;
padding: 10px;
margin: 10px 0;
border: 1px solid #ccc;
border-radius: 3px;
}


#login-button {
background-color: #007BFF;
color: #fff;
padding: 10px 20px;
border: none;
border-radius: 3px;
cursor: pointer;
}


.forgot-password {
margin-top: 10px;
}

.forgot-password a {
color: #007BFF;
text-decoration: none;
}

.forgot-password a:hover {
text-decoration: underline;
}