*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  margin:0;
}
.wrapper{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    
  }
  
  .wrapper .sidebar{
    top: 100px;
    left: 1px;
    width: 270px;
    height: 120%;
    background: #ffffff;
    position: fixed;
  }
    
  .wrapper .sidebar ul li{
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 10px solid rgba(255,255,255,0.05);
    list-style-type: none;
  }    
  
  .wrapper .sidebar ul li a{
    color: #dbdfe3;
    display: block;
    text-decoration: none;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #f0f9fe;
  }
  .wrapper .sidebar ul li:hover a{
    color: #0091ea;
  }


.wrapper .new_post{
  padding-top: 1px;
  background-color : #0091ea;
  color : #ffffff;
 
  }
.wrapper .new_post ul li{
  font-size: 40px;
  text-decoration: none;
  list-style-type: none;
}