*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  margin:0;
}
.wrapper{
    display: flex;
    font-weight: bold;
    font-size: 18px;
    
  }
  
  .wrapper .sidebar{
    top: 100px;
    left: 1px;
    width: 270px;
    height: 120%;
    background: #ffffff;
    position: fixed;
  }
    
  .wrapper .sidebar ul li{
    border-bottom: 1px solid #000000;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 10px solid rgba(255,255,255,0.05);
    list-style-type: none;
  }    
  
  .wrapper .sidebar ul li a{
    color: #dbdfe3;
    display: block;
    text-decoration: none;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #f0f9fe;
  }
  .wrapper .sidebar ul li:hover a{
    color: #0091ea;
  }


.wrapper .new_post{
  padding-top: 1px;
  background-color : #0091ea;
  color : #ffffff;
 
  }
.wrapper .new_post ul li{
  font-size: 40px;
  text-decoration: none;
  list-style-type: none;
}
 .container{
    position: fixed;
    right:0;
    top:0;
    width: 80%;
    min-height: 100vh;
    padding: 5%;
    display: flex;
   
 }
 .search-bar{
  position: fixed;
  top:0;
  right:0;
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  display: flex;
  border-radius: 20px;
  padding: 10px 20px;  
 }

 .search-bar input{
  background: #f0f9fe;
  flex: 1;
  border: 0;
  outline: none;
  padding: 10px 15px;
  font-size: 20px;
  color: #0091ea;
 }