<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title><link rel="stylesheet" href="style.css">

    <link rel="stylesheet" type="text/css" href="C:\Users\da3m0n89\Desktop\OnlyBlogs\style.css">

</head>
<body>
    
    <div class="wrapper">
        <div class="sidebar">
            <a href="#" class="circular-button">SS</a>
            <ul>
                <li><a href="#"><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a href="#"><i class="fas fa-user"></i>Notification</a></li>
                <li><a href="#"><i class="fas fa-address-card"></i>Reading List</a></li>
                <li><a href="#"><i class="fas fa-project-diagram"></i>Subscription</a></li>
                <li><a href="#"><i class="fas fa-blog"></i>Payments</a></li>
                <li><a href="#"><i class="fas fa-address-book"></i>My Profile</a></li>
                <li><a href="#"><i class="fas fa-map-pin"></i>More</a></li>
            </ul> 
        </div>
    </div>



</body>
</html>