*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width:100%;
    height:100%;
}
#main
{
    width:30%;
    height:100%;
    background-color: blue;
}

.circular-button {
    display: inline-block;
    width: 25px; /* You can adjust the size as needed */
    height: 25px; /* Same as width for a perfect circle */
    background-color: #f1f2f4; /* Change the background color */
    border-radius: 50%; /* Makes it a circle */
    text-align: center;
    line-height: 20px; /* Vertically centers the text */
    color:#1cb0e8; /* Text color */
    font-family: "Arial", sans-serif;
    text-decoration: none;
}

.wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 250px;
    height: 100%;
    background: #ffffff;
    padding: 30px 0px;
    position: fixed;
  }
    
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #bdb8d7;
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
  }    
  
  .wrapper .sidebar ul li a{
    color: #dbdfe3;
    display: block;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #f0f9fe;
  }
  .wrapper .sidebar ul li:hover a{
    color: #0091ea;
  }


