<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - OnlyBlogs</title>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/login.css')}}">
</head>
<body>
    <div class="login-container">
            <div class="login-form">
                <h1>Login</h1>
                <form method="post">
                    <input type="text" placeholder="Email" name="email"><br>
                    <input type="password" placeholder="Password" name="password"><br>
                    <input type="submit" id = "login-button" value="Submit">
                    {% with messages = get_flashed_messages(with_categories=True) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% if category == "error" %}
                                    <div class="alert alert-danger alter-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% else %}
                                    <div class="alert alert-success alter-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                </form>
                <div class="forgot-password">
                    <a href="#">Forgot Password?</a>
                </div>
                <div class="col">
                    <a href="#" class="fb btn">
                      <i class="fa fa-facebook fa-fw"></i> Login with Facebook<br>
                    </a>
                    <a href="#" class="google btn">
                      <i class="fa fa-google fa-fw"></i> Login with Google<br>
                    </a>
                    <a href="#" class="twitter btn">
                        <i class="fa fa-twitter fa-fw"></i> Login with X<br>
                      </a>
                </div>
            </div>

            
    </div>
    
    <script>
        //Assuming authorization from DB
        //Implementation when DB implemented.
        document.getElementById("login-button").addEventListener("click", function() {
            window.location.href = "{{ url_for('views.home') }}";
        });
    </script> 
</body>
</html>